parameters:
    level: 4
    paths:
        - app
    excludePaths:
        - app/Console/*
        - app/Exceptions/*
        - app/Http/Middleware/*
        - app/Http/Requests/*
        - app/Providers/*
    ignoreErrors:
        - '#Call to static method make\(\) on an unknown class#'
        - '#PHPDoc type array<int, string> of property .* \$fillable is not covariant#'
    bootstrapFiles:
        - ../../vendor/autoload.php 