includes:
    - ./phpstan-baseline.neon
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:

    paths:
        - Modules
        - Themes

    # The level 9 is the highest level
    level: 7

    ignoreErrors:
        # -
        #   message: '#PHPDoc tag @mixin contains unknown class Modules\\Badge\\Models\\IdeHelper(.*)+\.#'
        #    path: Modules/Badges/Models/*
        # - '#No error to ignore is reported on line#'
        - '#Static call to instance method Nwidart\\Modules\\Facades\\Module#'
        - '#Unsafe usage of new static#'
        - '#PHPDoc tag @mixin contains unknown class #'
        - '#Static call to instance method Nwidart#'
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        - identifier: larastan.noEnvCallsOutsideOfConfig
        - identifier: trait.unused 

    excludePaths:
        - ./*/vendor/*
        - ./*/Tests/*
        - ./*/tests/*
        - ./*/build/*
        - ./*/docs/*
        - ./*/Main_files/*
        - ./Modules/Sigma/*
        - ./Modules/*/phpinsights.php
        - ./Modules/*/rector.php
        - ./Modules/*/*.blade.php
        - ./config/local/*/database.php
        #- ./Modules/Ptv/*
        - ./Modules/Incentivi/*
        # - ./Modules/Xot/*
        - ./Modules/Xot/app/Filament/Traits/HasXotTable.php


    bootstrapFiles:
        - ./phpstan_constants.php
        - ./phpstan-bootstrap.php
        #- ./vendor/amenadiel/jpgraph/src/config.inc.php

    scanFiles:
        - ./Modules/Xot/Helpers/Helper.php

    mixinExcludeClasses:
        - ./Modules/Badge/Models
        - IdeHelperTimbra

    editorUrl: 'vscode://file/%%file%%:%%line%%'

    tmpDir: build/phpstan
    parallel:
        maximumNumberOfProcesses: 1
        # maximumNumberOfProcesses: 4

    noUnnecessaryCollectionCall: false
    checkUnusedViews: false
    checkModelProperties: false
    # checkMissingIterableValueType: false
    # checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    checkOctaneCompatibility: false
